html {
  scroll-behavior: smooth
}

h1, h2 {
  font-size: 3.5rem;
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5
}

h4 {
  padding-top: 2%;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 2rem

}

h5{padding-top: 2%;
font-family: "Montserrat";
font-weight: 500;
font-size: 1.5rem}

h6 {
  line-height: 1.5;
  font-size: 1.25rem
}

a{color:inherit;}

/* Başlık Bölümü */
#Başlık {
  background: #3DB2FF;
  color: #FFEDDA;
}

.selimhan-div {
  text-align: right;
}

.selimhan-yazı {
  padding-right: 6.5%;

}

.başlık-button{margin-top: 3%}

.buttons{padding-top:3%}

.button-mail{margin-left: 2%}

/* yönlendirme çubuğu  */
.navbar {
  padding: 0 2rem 2rem 0
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-family: "Montserrat";
  font-weight: 300;
}

.navbar-brand {
  font-family: "Ubuntu";
  color: #fff;
  font-size: 1.5rem;
}

/* yönlendirme çubuğu  */
.selimhan-foto {
  width: 40%;
  position: static;
  border-radius: 50%
}

.container-fluid {
  padding: 3% 15% 10%
}

/* Başlık Bölümü */
/* Bilgilendirme Bölümü */
#Bilgilendirme {
color: #11052C;
  padding: 2% 0
}

.bilgilendirme-satır {
  width: 50%;
  margin: 100px auto 150px auto;
  line-height: 2;
}

.bilgilendirme-soru{font-size: 2.25rem;
text-align: center;}


.logo {
  width: 25%;
  float: left;
  margin-right: 30px;
}



.web {
  width: 35%;
  float: right;
  margin-left: 30px;
  border-radius: 25px;
  padding-top: 2%
}

.ulaşılabilirlik-foto {
  width: 26%;
  float: right;
  margin-left: 30px
}

/* Bilgilendirme Bölümü */

#cta {
  padding: 7% 15%;
  background-color: #FFB830;
  text-align: center;
  position: relative;
  color: #FFEDDA
}



.kutu {
  text-align: center;
  padding: 7% 0;
}

.logo-sol-üst {
  color: #fff !important;
  font-family: "Montserrat";
  font-weight: 400;
}

.icon {
  color: #FF2442;
  margin-bottom: 1rem
}

.icon:hover {
  color: #FFEDDA
}

#footer {
  padding: 4% 15%;
  text-align: center
}

.social-icon {
  padding: 20px 10px

}

.button-poll{font-size: 1.5rem;
margin-top: 1%}

@media (max-width:1028px) {
  body {
    text-align: center
  }

.logo,.web,.programming {display: none;
position: absolute;}

.selimhan-div{text-align: center}

}
